.App {
  font-family: sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.editor-surface {
  background-color: #fff;
}

.json-tree {
  width: 100%;
}
